[submodule "AndroidLibXrayLite"]
	path = AndroidLibXrayLite
	url = https://github.com/changsongyang/AndroidLibXrayLite
[submodule "hev-socks5-tunnel"]
	path = hev-socks5-tunnel
	url = https://github.com/changsongyang/hev-socks5-tunnel
